:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --montserrat-bold-font: 900;

    --ubuntu-font: 'Ubuntu', sans-serif;
    --ubuntu-bold-font: 700;

    --bg-primary: #937DC2;
    --bg-secundary: #E8A0BF;
    --bg-hover: #C689C6;

    --font-size-title: 3.5rem;
    --font-size-title-big: 2.7rem;
    --font-size-title-medium: 3rem;
    --font-size-title-little: 2rem;
}

body {
    font-family: var(--montserrat-font);
}

/* --- Navbar --- */

.navbar-brand {
    font-family: var(--ubuntu-font);
    font-weight: var(--ubuntu-bold-font);
}

.navbar-nav .nav-link:hover {
    color: var(--bg-secundary) !important;
}

.container-fluid {
    padding: 7% 15%;
}

/* --- Title Section--- */

#title {
    background-color: var(--bg-primary);
}

.title {
    font-size: var(--font-size-title);  
    font-weight: var(--montserrat-bold-font);
}

.iphone-img {
    width: 60%;
    transform: rotate(25deg);
}

.download-button-apple,
.download-button-gplay {
    margin: 5% 0;
}

.download-button-apple {
    margin-right: 3%;
}

/* --- Feature Section --- */

#features {
    position: relative; /* Phone image under the features section */
}

.cont-feat {
    padding: 7% 15%;
}

.fa-solid {
    color: var(--bg-secundary);
    font-size: 4.5rem;
}

.fa-solid:hover {
    color: #C689C6;
}

/* --- Testimonials Section --- */

#testimonials,
#press {
    background-color: var(--bg-secundary);
}

.carousel-item { 
    padding: 7% 15%;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
}

/* --- Press Section --- */

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* --- Pricing Section --- */

.cont-pricing {
    padding: 7% 10%;
}

.pricing-title {
    color: var(--bg-primary);
}

/* --- Call to Action Section --- */

#cta {
    background-color: var(--bg-primary);
}

/* --- Footer --- */

#footer {
    padding: 7% 15% 3%;
}

.icon-footer {
    font-size: 25px;
}

.icon-footer:hover {
    color:  var(--bg-hover)
}

/* ---- Responsive ---- */

@media screen and (min-width: 1246px) {
    #title {
        max-height: 650px;
    }

    #pricing .card-text {
        padding-bottom: 40px;
    }

    footer {
        padding: 5% 10% 2%;
    }

    .title {
        font-size: var(--font-size-title);
    }
}

@media screen and (min-width: 992px) and (max-width: 1245px) {
    #title {
        max-height: 550px;
    }

    .container-fluid {
        padding-bottom: 7%;
    }

    .title {
        font-size: var(--font-size-title-big);
    }

    #pricing .card-text {
        padding-bottom: 40px;
    }
}

@media  screen and (max-width: 991px) {
    .feat-div {
        margin-bottom: 7%;
    }

    .iphone-img {
        position: static;
        transform: rotate(0);
    }

    .cont-title {
        text-align: center;
    }

    .container-fluid {
        padding-bottom: 7%;
    }

    .title {
        font-size: var(--font-size-title-medium);
    }
}

@media screen and (max-width: 700px) {
    .title  {
        font-size: var(--font-size-title-little);
    }
}
