:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --montserrat-bold-font: 900;

    --ubuntu-font: 'Ubuntu', sans-serif;
    --ubuntu-bold-font: 700;
}

body {
    font-family: var(--montserrat-font);
}

/* --- Navbar --- */

.navbar-brand {
    font-family: var(--ubuntu-font);
    font-weight: var(--ubuntu-bold-font);
}

.navbar {
    margin-bottom: 4.5rem;
}

.navbar-nav .nav-link:hover {
    color: #E8A0BF !important;
}

.container-fluid {
    padding: 3% 15%;
}

/* --- Title Section--- */

#title {
    background-color: #937DC2;
}

h1 {
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: var(--montserrat-bold-font);
}

.iphone-img {
    width: 60%;
    transform: rotate(25deg);
}

.download-button {
    margin: 5% 3% 5% 0;
}

/* --- Feature --- */

.cont-features {
    padding: 15% 0;
}

.fa-solid {
    color: #E8A0BF;
    font-size: 4.5rem;
}

.fa-solid:hover {
    color: #C689C6;
}

/* -- Responsive -- */

@media only screen and (max-width: 1234px) and (min-width: 1129px) {
    h1 {
        font-size: 3.2rem;  
    }
}

@media only screen and (max-width: 1128px) {
    h1 {
        font-size: 2.8rem;  
    }
}

@media  screen and (max-width: 992px) {
    .feat-div {
        margin-bottom: 10%;
    }
}
